@import 'base/normalize';
// variables
$main-color: #ffbc40;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;

  border-bottom: 1px solid $main-color;
}

.header__logo {

  .container-logo {
    text-decoration: none;
    color: #000;

    h1 {
      font-family: monospace;
      font-size: 20px;
      white-space: nowrap;
      letter-spacing: .10em;
  
      border-right: .17em solid $main-color;
  
      overflow: hidden;
      animation:
        typing 3.5s steps(30, end),
        blink-caret .7s step-end infinite;
    }
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  @keyframes blink-caret {

    from,
    to {
      border-color: transparent
    }

    50% {
      border-color: $main-color
    }
  }
}

.header__nav {

  .header__list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

    .header__link {
      padding: 10px;
      margin-left: 30px;

      font-weight: 500;
      text-decoration: none;
      color: #000;

      transition: 0.1s;
      
      &:hover {
        color: $main-color;
        outline: 1px solid $main-color;
        box-shadow: 0 2px 5px;
      } 
    }
  }
}