@import 'base/normalize';
@import 'utils/variables';
@import 'layout/header';
@import 'layout/preview';
@import 'layout/about';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;

  background-image: url('../img/main-bg.png');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-size: 36px;
  font-weight: normal;

  margin: 0;
  padding: 0;
}

.portfolio__title {
  color: #2D9687;
}

.portfolio__subtitle {
  color: #2D9687;
}

.portfolio__inner {
  padding: 50px 0;
}






