.about {
   background-image: url(../img/dvsup.png);
 }
 
 .about__inner {
   display: flex;
   justify-content: space-between;
 }
 
 .about__info {
   width: 50%;
 
   color: #fff;
   font-size: 18px;
 
   .about__title {
     margin-bottom: 50px;
   }
 
   .about__text {
     margin-bottom: 50px;
     padding-left: 35px;
     padding-right: 55px;
 
     line-height: 1.2;

     p:nth-child(2) {
       color: $main-color;
     }
   }
 }